# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Build and dependencies
node_modules/
dist/
build/

